application-local.yml
.env

HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/data/uploads/0cf325e1790d46f5b2fbeef313d223b7.md
/data/uploads/6623a3052606427b8c817f368d9992b2.md
/data/uploads/0243b15dfdc04e3b98eb2f82b88902db.md
/data/uploads/0106808e0c594993935318f621a52ac4.md
/data/uploads/a48c08487afc42f9a4189303735e7e2c.md
/data/uploads/ai_overview.txt
/data/uploads/ceaa54a887f1437eaf3dbea3b58325af.txt
/data/uploads/d23cca839b824056874dfcba05bf0548.md
/data/uploads/e8e7e95f8ef04abea3e581c768192922.md
/data/uploads/fd2f2f4a387647d4ac74ae878d7c1f5d.txt
/data/uploads/huangzhixuan_success_profile.txt
